<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634099852696-qjgapv1ntcufjj0v88q1r0c49civ9oao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634099852696-qjgapv1ntcufjj0v88q1r0c49civ9oao</string>
	<key>API_KEY</key>
	<string>AIzaSyAklSAvxK9zbGNOeDTM2a3wOc66BOh_9pE</string>
	<key>GCM_SENDER_ID</key>
	<string>634099852696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaanyildiz.kombin-dolabim</string>
	<key>PROJECT_ID</key>
	<string>kombindolabim-5f36f</string>
	<key>STORAGE_BUCKET</key>
	<string>kombindolabim-5f36f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:634099852696:ios:eb6b46d77bc9aa740ab7ed</string>
</dict>
</plist>
